<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="icon" type="image/svg+xml" href="/img/brand/favicon/logo-black-120.png" sizes="any">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

  <meta name="description" content="Distributed application for sharing things, tools and skills. The focus is to be lightweight, secure, fast and easy to use.">
  <meta name="keywords" content="Sharing, Common Goods, save the world, reduce carbon emissions, teilen, leihladen, tauschen, ungenutze dinge, distributed, api, raspberrypi">
  <meta name="author" content="Mycelium Network">
  <title>Mycelium-Network</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>
